/*
Theme Name: Wayglo
*/

.section-hero{
    min-height:400px;
}

.article-container .wp-caption{
    max-width:100% ;
    text-align:center;
    font-size:14px;
}

.article-container .wp-caption img{
    margin:0px;
    max-width:100% ;
}

.occhiello{
    background-color: #000;
    position:absolute;
    left:0px;
    top:0px;
    font-family: "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-size:12px;
    padding:4px;
    text-transform:uppercase;
}

.single .container p a{
    text-decoration:underline;
}

.single .container p a:hover{
    color:#00d909;
}

.list-description li span  {
    word-break: break-word;

    width:40%;
}

.list-description li p  {
    word-break: break-word;
    width:60%;
}

.box.box-custom .box-content h3,  .box.box-custom .box-content h3 a, .box.box-custom .box-content .h3 , .box.box-custom .box-content .h3 a{
    font-family: "Tungsten", sans-serif;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 0.84;
    text-shadow: 0 0 1.15rem rgba(0, 0, 0, 0.5); }

.section-hero.section-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000,#333);
    opacity: .4;
}
.section-hero .btn-white{
    font-size:16px;
}

.hero-simple .hero-simple-content h1{
    font-size:2.2rem;
}

/**
forzo larghezza home
 */

.home .section-hero .container{
    max-width:90% !important;

}

.home .section-hero .owl-thumbs{
    left: calc(((100% - 90%) / 2) + 150px) !important;
}

.home .owl-carousel.owl-theme.carousel-hero-single .owl-nav {
    left: calc((100% - 90%) / 2) !important;
}

.stage-title {
    max-width: 100%;
}

.featured img{
    margin-bottom:0px;
}
.featured p{
    font-size:18px;
    color:#666;
    text-align:right;
}
@media (max-width: 575.98px){
    .featured p{
        font-size:15px;
    }
}

.wp-caption-text{
    font-size:18px;
}

@media (max-width: 575.98px){
    .wp-caption-text{
        font-size:15px;
    }
}

.special-data{
    font-size:30px;
    margin-top:20px;
}

.stage-title-wrapper .stage-title-img:before {
    background:none;
}

.stage-title-wrapper .sfuma:before {
    background: -moz-linear-gradient(left, rgba(0, 12, 126, 0) 0%, #000c7e 100%);
    background: -webkit-linear-gradient(left, rgba(0, 12, 126, 0) 0%, #000c7e 100%);
    background: linear-gradient(to right, rgba(0, 12, 126, 0) 0%, #000c7e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000c7e', endColorstr='#000c7e',GradientType=1 );
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom:20px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box.box-bg-gradient-horizontal:before{
    background: linear-gradient(to right, rgba(12, 22, 28, 0) 0%, #000000 80%, #000000 100%);

}

.article-aside{
    z-index:1000;
}

.section-banners {
    font-family: 'Playfair Display', serif;
}

.section-banners .box-banner-half h3{
    font-size:18pt;
    text-transform:uppercase;
}

.section-banners .box-banner h3{
    font-size:28pt;
    text-transform:uppercase;
}

.box-banner-bg:before {
    background:none;
}

.related-bottom .box.box-custom .box-content h3 a{
    font-size:30px;
}

.licenza{
    font-size:12px;
    text-align:right;
    margin-top:20px;
}

.data-evento span{
    font-size:16px;
}

.box.box-bg-gradient-horizontal:before {
    background: linear-gradient(to right, rgba(12, 22, 28, 0) 0%, #000000 140%) !important;
}

.carousel-aside-title {
    padding: 20px 36px !important;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #00ff0b;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    right:8px;
    top:6px;
}

.dot-inside {
    height: 14px;
    width: 14px;
    background-color: #00ff0b;
    border-radius: 50%;
    display: inline-block;
}

.carousel-gallery .owl-stage {
    display: flex;
    align-items: center;
}

@media (max-width: 768px){
    .search__input{
        font-size:30px;
    }
}

@media (max-width: 575.98px){
    .lg-sub-html h4{
        font-size:18px;
    }
}

.slb_data_desc{
    font-size:18px;
}

.stage-title-wrapper .stage-title-img{
    background-position: left center;
}


@media (min-width: 1279.98px){
    .header-content .logo-wrapper {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-direction: column;
        align-items: center;
    }
    #btn-search{
        margin-left:180px;
    }

}


.header-second-content{
    height:40px;
}
.header-second-content nav.main-nav > ul > li > a{
    height:40px;
}

.header-second-content nav.main-nav > ul > li > ul{
    top:40px;
}

.external{
    margin-top:40px;
    margin-bottom:40px;
    border-top:solid 1px;
}
.external p{
    text-transform:uppercase;
    padding-top:8px;
    padding-bottom:8px;
    font-size:16px;
    width:100%;
    border-bottom:solid 1px;
    font-weight:bold;
    margin:0px;
}

.external a, .external a:hover, .external a img{
    text-decoration:none !important;
    border: none;
}
.external img{
    height:30px;
    float:right;
    border-bottom:solid 1px;
    margin:0px;
}

.tp-thumb-title{
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 15px !important;
    font-weight:bold !important;
}

.lg-sub-html p{font-size:17px;}